In [ ]:
import pandas as pd

In [ ]:
def get_data(url):
  tables = pd.read_html(url)
  merged_df = pd.DataFrame()

  for df in tables:
      merged_df = pd.concat([merged_df, df], axis=0)
      merged_df = merged_df.reset_index(drop=True)

  return merged_df

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_serial_killers_by_number_of_victims#"
#List_of_serial_killers_before_1900 List_of_serial_killers_by_number_of_victims #List_of_rampage_killers_in_the_United_States List_of_Unsolved_serial_killings

df = get_data(url)

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_serial_killers_before_1900"

df2 = get_data(url)
df2['Years active'] = df2['Years active'].fillna(df2['Time Period'])

df2 = df2.drop("Time Period", axis = 1 )

df2 = df2.rename(columns={'Claimed victims': 'Possible victims'})

In [ ]:
df3 = pd.concat([df,df2], axis = 0).reset_index(drop=True).fillna("Unconfirmed")

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_serial_killers_in_the_United_States"

df4 = get_data(url)
df4['Country'] = 'United States'

In [ ]:
df4 = df4[df3.columns]

df5 = pd.concat([df3,df4], axis = 0).reset_index(drop=True)

In [ ]:
# https://en.wikipedia.org/wiki/List_of_rampage_killers_in_the_United_States

url = "https://en.wikipedia.org/wiki/List_of_rampage_killers_in_the_United_States"

tables= pd.read_html(url)

tables[3] = tables[3].drop(["#", 'Location', 'State', 'W', 'Ref.', 'Date'], axis = 1)
tables[3]['Country'] = "United States"
tables[3] = tables[3].rename(columns = {
    'Perpetrator':'Name',
    'Year': 'Years active',
    'Killed': 'Proven victims',
    'Additional Notes':'Notes'
})

df6 = pd.concat([df5, tables[3]], axis = 0).drop('Injured', axis = 1).fillna('Unconfirmed').reset_index(drop=True)

In [ ]:
df7 = get_data("https://en.wikipedia.org/wiki/List_of_serial_killers_active_in_the_2020s#Unsolved_serial_killings")

df8 = pd.concat( [df6 , df7[df6.columns] ], axis = 0).reset_index(drop = True).fillna('Unknown')

In [ ]:
df8

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Luis Garavito,Colombia Ecuador[3] Venezuela[3],1992–1999[3],193,193–300+,"Child-murderer, torture-killer, and rapist kno..."
1,Pedro López,Colombia Peru Ecuador,1969–1980,110,300+,"Child-murderer and rapist, known as ""The Monst..."
2,Javed Iqbal,Pakistan,1998–1999,100,100,"Child-murderer and rapist, known as ""Kukri"", I..."
3,Mikhail Popkov,Russia,1992–2010,78,83+,"Serial rapist-killer nicknamed ""The Werewolf"",..."
4,Daniel Camargo Barbosa,Colombia Ecuador Brazil (alleged)[13],1974–1986,72,180[13],"Child and woman murderer, believed to have pos..."
...,...,...,...,...,...,...
1526,Unknown,United States,2021–2022,2,4,"Shootings of four Muslim men in Albuquerque, N..."
1527,Unknown,Canada,1970–present,80,80+,"A corridor of Highway 16 where, since 1970, at..."
1528,Unknown,Mexico,2020–present,71,86–200+,"A 13-mile stretch of Federal Highway 86 where,..."
1529,Unknown,Canada,2022,4,4,Four indigenous women were murdered in Winnipe...
1530,Unknown,Italy,2022,0,3,Three women were murdered at two different loc...

In [ ]:
import seaborn as sns

sns.set()

In [ ]:

df8['Country'].value_counts()

United States                                                                          1064
United Kingdom                                                                           62
Russia                                                                                   33
France                                                                                   26
South Africa                                                                             21
                                                                                       ...
Belarus                                                                                   1
East Germany  Germany  France  Spain  Czech Republic (suspected)  Italy (suspected)       1
Cyprus                                                                                    1
Canada  United States                                                                     1
Mali                                                                                      1
Name: Country, Length: 141, dtype: int64

In [ ]:
df8.to_csv('serial_killers.csv', index = False)